<%= render 'header' %>

<div class="what">
  <div class="container">
    <div class="what-content">
      <h1 class="museo-font">Join a worldwide community of developers and designers<br> who've learned the Rails way to build the web.</h1>
      <br>
      <h2>No Experience Necessary.</h2>
    </div>
  </div>
</div>
