$sand: #FDF5E6;

.container {
  @include outer-container;
}

.clear {
  @include clearfix;
}

.what {
  border-top: 1px solid lighten($sand, 2%);
  margin-top: -130px;
  background-color: $sand;
  text-align: center;
  .what-content{
    padding-top: 150px;
    padding-bottom: 150px;
    h1 { font-weight: 400; }
    h2 { font-weight: 400; font-size: 28px; }
  }

}